* {
    box-sizing: border-box;
}

body {
    background-color: #F1EDE6;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    margin-top: 150px;
    display: flex;
    align-items: center;
    background-color: #678D90;
    color: #F1EDE6;
    height: 5vh; 
}

.header-image {
    width: 150px; 
    height: auto; 
    position: absolute; 
    top: 0; 
    left: 30px; 
}


nav ul {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    list-style-type: none;
    padding: 50px;
    margin: 0;
    height: 100%;
    width: 100%;
}

nav ul li {
    padding: 10px 25px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 10px 25px; 
    width: 100%; 
    box-sizing: border-box; 
    display: block; 
    text-align: center; 
    text-decoration: none;
    color: white;
}


nav ul li a:hover, .dropdown-content a:hover {
    background-color: #99b2b4;
}

.container {
    position: relative;
    display: block;
    height: 2800px;
}

.navbar {
    list-style-type: none;
    margin-left: 4px;
    padding: 0;
    width: 180px;
    outline: 1px solid #333;
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
}

#myCheck {
    display: inline-block;
    position: relative;
}

.container .navbar li a:link, a:visited {
    display: block;
    padding: 8px 16px;
    /* background-color: #8fb080; */
    color: black;
    text-decoration: none;
  }

.container .navbar li a:hover, a:active {
    background-color: #99b2b4;
    color: black;
    outline: 1px solid #234265;
  }

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #99b2b4;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #333;
    text-decoration: none;
    width: 100%;
}

.dropdown:hover .dropdown-content{
    display: block;
}

main {
    padding: 20px;
}

.article{
    margin: 10px;
    
    max-width: 500px;
    text-align: left;
    float: left;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 5.5%;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #667292;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: #555;
  }

article{
    height: auto;
  }



footer {
    display: block;
    margin: 0;
    width: 100%;
    height: 120px;
    padding-top: 20px;
    position: fixed;
    text-align: center;
    color: white;
    background-color: #333;
    bottom: 0%;
}

